# Backend
backend/.env
backend/.env.local
backend/node_modules/
backend/uploads/
backend/logs/

# Frontend
frontend/.env
frontend/.env.local
frontend/node_modules/
frontend/dist/

# General
.DS_Store
*.log
null*
sk_*
backend/node_modules/
backend/uploads/